@model AutomatAppV2.Models.PerfilViewModel
@{
    ViewBag.Title = "Nuevo Perfil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*@section Breadcrumbs{
    <li class="breadcrumb-item active"><a>CONFIGURACION/PERFILES</a></li>
}*@

<div class="col-lg-12">
    <div class="row">
        @using (Html.BeginForm("AddPerfil", "Perfiles", FormMethod.Post, new { role = "form", @class = "" }))
        {
            <div class="row">
                <div class="col-lg-12" style="text-align: right; border: none">
                    <button class="btn btn-sm pd-x-15 btn-success mg-l-5" type="button" id="btnGuardar" onclick="valdidaDatos()">
                        Guardar
                    </button>
                    <button class="btn btn-sm pd-x-15 btn-secondary mg-l-5" type="button" id="btnCancelar" onclick="cancela()">
                        Cancelar
                    </button>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-6">
                    @Html.LabelFor(d => d.Nombre)
                    @Html.TextBoxFor(d => d.Nombre, new { placeholder = "Nombre Perfil", @class = "form-comtrol" })
                    @Html.HiddenFor(d => d.ModulosSeleccionados)
                </div>
            </div>
            <br />
            <div class="col-lg-12">
                @Html.Raw(@ViewBag.TablaModuloAcciones)
            </div>
            <div class="col-lg-12" style="text-align:right;">

            </div>
        }
    </div>
</div>

@section scripts{
    <script>

    //function getSelectedCheckboxValues(name) {
    //    const checkboxes = document.querySelectorAll(`input[name="${name}"]:checked`);
    //    let values = [];
    //    checkboxes.forEach((checkbox) => {
    //        values.push(checkbox.value);
    //    });
    //    return values;
    //}

    //const btn = document.querySelector('#btn');
    //btn.addEventListener('click', (event) => {
    //    alert(getSelectedCheckboxValues('color'));
    //    swal("Hola mundo", '', "error");
    //});

    $(function () {
                $("#tblModulos tbody img").click(function () {
                    //alert($(this).attr("IdModulo"));
                    var varIdModulo = $(this).attr("IdModulo");
                    var fila = $("#fila-" + varIdModulo);
                    if (fila.css("display") == "none") {
                        fila.css("display", "table-row");
                        $(this).attr("src","@Url.Content("~/Content/img/remove.png")");
                    }
                    else {
                        fila.css("display", "none");
                        $(this).attr("src","@Url.Content("~/Content/img/add.png")");
                    }
                });
            });

    function getSelectedCheckboxValues(name) {
        const checkboxes = document.querySelectorAll(`input[name="${name}"]:checked`);
        var modulosSelec = "";
        checkboxes.forEach((checkbox) => {
            modulosSelec += checkbox.value + '|';;
        });
        return modulosSelec;
    }

    $(function () {
        $('#treeview_div').jstree();
    });

    function valdidaDatos() {
        var varEstatus, varNombre, varModulosSeleccionados, varBanderaModulo;
        varNombre = $("#Nombre").val();
        varBanderaModulo = false;

        varModulosSeleccionados = getSelectedCheckboxValues('color');
        alert(varModulosSeleccionados);
        if (varModulosSeleccionados.length > 0) {
            varBanderaModulo = true;
        }
        if (varNombre.length > 0 && varBanderaModulo == true) {
            var dataObject =
            {
                IdPerfil: 0,
                Nombre: varNombre,
                Activo: true,
                ModulosSeleccionados: varModulosSeleccionados,
            };
            $.ajax({

                url: "AddPerfil",
                data: dataObject,
                dataType: "json",
                type: "POST",
                success: function (response) {
                    //alert(response.Success);
                    if (response.Success == true) {
                        Swal.fire(response.Message, '', "success").then((value) => {
                            window.location.href = "/Perfiles/Index";
                        });
                    }
                    else {
                        //alert('Error en registro.');
                        Swal.fire(response.Message, '', "error");
                    }
                }
            })
        }
        else {
            var MensajeUsuario = "";
            if (varNombre.length == 0) {
                MensajeUsuario += "Proporcione Nombre de perfil"
            }
            if (varBanderaModulo != true) {
                if (MensajeUsuario.length > 0) {
                    MensajeUsuario += " y seleccione algún modulo."
                }
                else {
                    MensajeUsuario += "Seleccione algún modulo."
                }
            }
            //alert('Proporcione todos los datos.');
            Swal.fire(MensajeUsuario, '', "error");
        }
    }

    function cancela() {
        var url = "/Perfiles/Index";
        window.location.href = url;
    }

    </script>
}